<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Prezzo</th>
                <th>Durata</th>
                <th>Data Inizio</th>
                <th class="">Data Fine</th>
                <th>Destinazione</th>
                <th>Recensioni</th>
                
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let pach of elencoPacchetti">
                <td>{{pach.nom }}</td>
                <td>{{pach.pre }}</td>
                <td>{{pach.dur }}</td>
                <td>{{pach.dataIn}}</td>
                <td>{{pach.dataFi}}</td>
                <td>
                <ul *ngFor="let destinazione of pach.destinazioni">
                    <li> {{destinazione}}</li>
                 </ul>
                </td>
                 <td>
                    <ul *ngFor="let recensione of pach.recensioni">
                        <li> {{recensione}}</li>
                     </ul>
                </td>
               
            </tr>
        </tbody>
    </table>
</div>
